# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [25]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [26]:
cities = pd.read_csv("cities1.csv")

cities = cities.drop(columns=["Unnamed: 0"])
cities.head()

,City,Cloudiness,Country,Date,Humidity,Temp,Lat,Lng,Wind Speed
0,carnarvon,0,AU,1607280104,78,71.60,-24.87,113.63,17.22
1,tasiilaq,100,GL,1607280104,92,23.00,65.61,-37.64,5.73
2,rikitea,0,PF,1607280104,77,76.15,-23.12,-134.97,15.14
3,punta arenas,75,CL,1607280104,48,66.20,-53.15,-70.92,33.33
4,provideniya,0,RU,1607280105,86,16.29,64.38,-173.30,10.38

In [12]:
cities.count()

City          561
Cloudiness    561
Country       555
Date          561
Humidity      561
Temp          561
Lat           561
Lng           561
Wind Speed    561
dtype: int64

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [27]:
gmaps.configure(api_key="AIzaSyCg9vs1oZQGex91r9tGT4OLL2ii9LOjVF8")

# Store lat and lon in locations
locations = cities[["Lat", "Lng"]]
weight = cities["Humidity"].astype(float)

In [28]:
# humidity

# figure_layout = {
#     'width' : '1000px',
#     'height':'400px',
#     'border':'1px solid black',
#     'padding':'1px',
#     'margin':'0 auto 0 auto'
# }

# fig = gmaps.figure(layout=figure_layout)

# Plot heatmap
fig = gmaps.figure()

# Create heatmap layer
heatmap_layer = gmaps.heatmap_layer(locations, weights=weight,
                                   dissipating=False, max_intensity=10,
                                   point_radius=1)
# Add layer to heatmap
fig.add_layer(heatmap_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [38]:
# Narrow down the DataFrame to find your ideal weather condition. For example:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. 
# You want to be sure the weather is ideal

ideal_city = cities.loc[(cities["Temp"] > 70) & (cities["Temp"] < 80) & 
                        (cities["Wind Speed"] < 10) &
                        (cities["Cloudiness"] == 0),
                        :]
ideal_city = ideal_city.dropna(how='any')
ideal_city.reset_index(inplace=True)
ideal_city






# #------------------------------------------------------------------------------------------------------
# new_types_df = pd.DataFrame(weather_data_df, columns = ["City", "Max Temp", "Wind Speed", "Cloudiness"])

# max_temp = (new_types_df["Max Temp"] <= 80) & (new_types_df["Max Temp"] > 70)
# wind_speed = new_types_df["Wind Speed"] < 10
# cloudiness = new_types_df["Cloudiness"] == 0

# # new_types_df[max_temp & wind_speed & cloudiness]
# new_types_df[max_temp & wind_speed & cloudiness]

,index,City,Cloudiness,Country,Date,Humidity,Temp,Lat,Lng,Wind Speed
0,14,diu,0,IN,1607280105,42,73.67,20.71,70.98,5.06
1,62,carahue,0,CL,1607280111,50,77.00,-38.70,-73.17,8.05
2,138,agboville,0,CI,1607280119,92,75.79,5.93,-4.21,3.31
3,187,pyapon,0,MM,1607280124,78,71.28,16.28,95.68,5.64
4,213,koboko,0,UG,1607280128,62,70.25,3.41,30.96,4.36
5,216,moron,0,AR,1607279876,16,79.00,-34.65,-58.62,3.00
6,223,kalemie,0,CD,1607280129,77,71.98,-5.95,29.19,1.99
7,244,guerrero negro,0,MX,1607280131,20,73.29,27.98,-114.06,1.83
8,277,pathein,0,MM,1607280134,86,72.03,16.78,94.73,1.57
9,283,gemena,0,CD,1607280135,62,75.24,3.25,19.77,1.41
10,301,comodoro rivadavia,0,AR,1607280137,47,75.20,-45.87,-67.50,6.93
11,313,ancud,0,CL,1607280098,52,73.00,-41.87,-73.82,8.05
12,331,chake chake,0,TZ,1607280139,76,78.48,-5.25,39.77,7.36
13,340,vengurla,0,IN,1607280140,54,75.83,15.87,73.63,5.12
14,347,umm lajj,0,SA,1607280141,48,72.55,25.02,37.27,8.81
15,373,biltine,0,TD,1607280143,20,74.41,14.53,20.92,2.46
16,382,lichinga,0,MZ,1607280144,64,73.40,-13.31,35.24,6.93
17,386,abu dhabi,0,AE,1607280145,83,77.00,24.47,54.37,2.24
18,397,talaja,0,IN,1607280146,38,77.02,21.35,72.05,7.07
19,431,veraval,0,IN,1607280149,58,74.77,20.90,70.37,7.20
20,450,lujan,0,AR,1607280151,35,78.01,-34.57,-59.10,1.99
21,451,yarada,0,IN,1607280151,83,75.20,17.65,83.27,3.36
22,473,edd,0,ER,1607280153,81,78.22,13.93,41.69,2.62
23,476,samaro,0,PK,1607280154,47,73.31,25.28,69.40,6.58
24,495,mpulungu,0,ZM,1607280155,72,74.12,-8.76,31.11,2.93
25,503,ormara,0,PK,1607280157,72,76.21,25.21,64.64,1.14
26,505,birao,0,CF,1607280157,21,75.76,10.28,22.79,4.94
27,556,kunri,0,PK,1607280162,47,73.90,25.18,69.57,5.82

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:

hotel_df = pd.DataFrame(ideal_city, columns=["City", "Country", "Lat", "Lng"])

hotel_df["Hotel Name"] = ""
hotel_df["Coordinates"]=""
hotel_df

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

# Display figure